body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*SECTION ONE*/

.header {
    background-color: #1F2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.header-links {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .right-links {
    gap: 15px;
}

.header .left-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: white;
}

/*Header Text and img*/

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 450px;
    gap: 8px;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.header .header-image {
   width: 400px;
   height: auto;
}

.header-image img {
    width: 400px;
    height: auto;
}

.header-txt-img {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.header-button {
    align-self: flex-start;
    border: none;
    color: #F9FAF8;
    background-color: #3582F6;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 5px;
}

/*SECTION TWO*/

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
}

.content-images {
    display: flex;
    gap: 50px;
}

.content-images div {
    width: 180px;
    text-align: center;
    gap: 10px;
}

.main-content img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.main-content p {
    margin-top: 5px;
    margin-bottom: 0;
    color: gray;
}


/*SECTION THREE "QUOTE"*/

.quote-div {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 250px;
    
}

.quote-div p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-div span {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}

/*SECTION FOUR CTA*/

.cta-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 80px 200px;
    padding: 40px 80px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.cta-text .main-text {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2px;
    color: #F9FAF8;
}

.cta-text .subtext {
    color: #E5E7EB;
}

.cta-text p {
    margin: 0;
}

.cta-div button {
    background-color: #3582F6;
    color: white;
    border: solid white;
    padding: 5px 25px;
    border-radius: 5px;
}


/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2927;
    margin-top: auto;
    color: white;
    padding: 20px;
}