body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 300vh;
}

/*SECTION ONE*/

.header {
    background-color: #1F2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.header-links {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .right-links {
    gap: 15px;
}

.header .left-links {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: white;
}

/*Header Text and img*/

.header .img-main {
    width: 400px;
    height: auto;
    background-color: grey;
}

.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 450px;
    gap: 8px;
}

.main-layout {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.header-button {
    align-self: flex-start;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    border: none;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 5px;
}

button {
    background-color: #3582F6;
}


/*SECTION TWO*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
}

.img-content {
    display: flex;
    gap: 50px;
}

.img-content div {
    width: 180px;
    text-align: center;
    gap: 10px;
}

.content p {
    margin-top: 5px;
    margin-bottom: 0;
    color: gray;
}

.content img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

/*SECTION THREE "QUOTE"*/

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 250px;
    
}

.quote-section p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-section span {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
    
}

/*SECTION FOUR CTA*/

.cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 80px 200px;
    padding: 40px 80px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.cta-text p {
    margin: 0;
}

.cta-text .main {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2px;
    color: #F9FAF8;
}

.cta-text .subtext {
    color: #E5E7EB;
}

.cta-section button {
    color: white;
    border: solid white;
    padding: 5px 25px;
    border-radius: 5px;
}
